/*Fonts*/

@font-face {
  font-family: Railway;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/*Variables*/
:root {
  --black: #000000;
  --dark: #444444;
  --white: #ffffff;
  --light: #f0f0f0;
  --light-grey: #ebebeb;
  --grey: #dcdcdc;

  --purple: #af4fff;
  --yellow: #ffc700;
  --light-yellow: #ffe17f;

  --green: #08af00;
  --orange: #fd912e;
  --red: #ff3d3d;

  --transparent-black10: rgba(0, 0, 0, 0.1);

}

html {
  height: 100%;
  /*outline: 5px solid red;
  outline-offset: -5px;*/
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Rubik, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  min-width: 1190px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: var(--black);
  background-color: var(--light-yellow);
  min-width: 1160px;
  margin: 0 auto;
}

.main-nav-top {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 60px;
}

.header-search {
  color: inherit;
}

.user-list {
  width: 560px;
  margin: 0;
  padding: 0;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  list-style: none;
}

.user-list-link {
  color: inherit;
  text-decoration: none;
}

.user-list-item {
  width: 100px;
}

.user-list-item:nth-child(2) {
  opacity: 0.3;
}

.main-navigation {
  padding: 0 60px;
}
.main-navigation-list {
  list-style: none;
}

.user-list-item:hover {
  opacity: 0.6;
}

.user-list-item:active {
  opacity: 0.3;
}

/*.user-list-link:focus {
  border: 2px solid var(--purple);
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
}*/

.page-container {
  max-width: 1160px;
  margin: 0 auto;
}

.slider {
  color: var(--dark);
}

.slide {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.slider-img {
  width: 560px;
}

.slider-info {
  width: 560px;
}

.slider-advantage {
  font-size: 36px;
  line-height: 30px;
  color: var(--black);
}

.slider-description {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: var(--dark);
}

.slider-link {
  text-decoration: none;
}


.slider-list {
  margin: 0;
  padding: 0;
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.slider-list-item {
  display: flex;
  flex-direction: column;
}

.main-navigation-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation-list-link {
  font-family: Railway, Impact, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation-inside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

.main-navigation-inside-list {
  list-style: none;
}

.main-navigation-list:nth-child(1) {
  width: 540px;
}

.main-navigation-inside-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.popular-goods {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-goods-item {
  list-style: none;
  width: 160px;
  height: 160px;
  background-position: 50% 50%;
  background-color: var(--light-yellow);
  background-repeat: no-repeat;
}

.popular-goods-item-link {
  font-family: Railway, Impact, sans-serif;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

.virtual {
  background-image: url(../img/catalog-icons/vr.svg);
}

.selfi {
  background-image: url(../img/catalog-icons/selfi.svg);
}

.action {
  background-image: url(../img/catalog-icons/action.svg);
}

.fitness-watch {
  background-image: url(../img/catalog-icons/fitness-watch.svg);

}

.smart-watch {
  background-image: url(../img/catalog-icons/smart-watch.svg);
}

.quadcopter {
  background-image: url(../img/catalog-icons/quadcopter.svg);
}

.services-slider {
  display: flex;

}

.services-slider-subtitle {
  color: var(--dark);
  font-size: 18px;
  line-height: 30px;
}

.title {
  font-family: Railway, Impact, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--black);
}

.services-btn {
  font-family: Railway, Impact, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.services-btn-active {
  color: var(--light-yellow);
}

.delivery-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
}

.delivery-link {
  font-family: Railway, Impact, sans-serif;
  color: var(--black);
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  text-transform: uppercase;
}

.info-wrap {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 560px;
  color: var(--dark);
}

.about-us-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.contacts {
  width: 560px;
  color: var(--dark);
}

.contacts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--dark);
}

.contacts-adress {
  font-style: normal;
}

.contacts-number {
  color: var(--dark);
}

.button {
  font-family: Railway, Impact, sans-serif;
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}

.mail {
  color: var(--dark);
  background-color: var(--light);
}

.mail-inner {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.mail-wrapper1 {
  display: flex;
}

.mail-wrapper-top {
  width: 560px;
}

.mail-wrapper-right {
  width: 560px;
}

.mail-subscribe {
  display: flex;
  justify-content: space-between;
}

.mail-form {
  width: 717px;
}

.mail-subtitle {}

.mail-form-input {
  margin-right: 335px;
}

/*Footer*/
.page-footer {
  background-color: var(--dark);
}

.page-footer-inner {
  width: 100%;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  width: 240px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.footer-info-nav {
  display: flex;
  justify-content: space-between;
}

.footer-navigation {
  color: var(--white);
}

.footer-phone {
  width: 293px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: var(--white);
  text-align: right;
}

.footer-info-social {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-social-item {
  list-style: none;
}

.link-academy {
  margin-left: 250px;
}

.main-catalog {
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
}

.breadcrumbs-list{
  display: flex;
}

.sorting-breadcrumbs-list {
  display: flex;
}

.catalog {
  display: flex;
}

.breadcrumbs-list-item {
  list-style: none;
  opacity: 0.6;
}

.breadcrumbs-list-link {
  text-decoration: none;
  color: var(--black);
}

.filter-title {
  font-family: Railway, Impact, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: var(--grey);
}
.product-card-title {
  font-size: 18px;
  line-height: 24px;
}

.filter {
  background-color: var(--light-grey);
  width: 207px;
}

.catalog-right-column {
  width: 760px;
}

.filter-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.filter-checkbox-item,
.filter-radio-item {
  list-style: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-grey);
}

.sorting-title {
  font-family: Railway, Impact, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.product {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.product-card-description {
  display: flex;
}

.product-card {
  width: 360px;
  margin-right: 40px;

}

.product-card-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--black);
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--dark);
}

.load-more {
  display: flex;
  justify-content: center;
  font-family: Railway, Impact, sans-serif;
  font-size: 16px;
  line-height: 19px;
  width: 760px;
  height: 55px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  border: 3px solid var(--transparent-black10);
}


.pagination {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 760px;
  height: 70px;
  background-color: var(--light-grey);
}

.pagination-item {
  list-style: none;
  color: var(--dark);
  opacity: 0.3;
}

.pagination-item-link {
  text-decoration: none;
  color: var(--black);
}

.pagination-item:nth-child(1),
.pagination-item:nth-child(7) {
  font-family: Railway, Impact, sans-serif;
  text-transform: uppercase;
  opacity: 1;
}
