/*Fonts*/

@font-face {
  font-family: Railway;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/*Variables*/
:root {
  --black: #000000;
  --dark: #444444;
  --white: #ffffff;
  --light: #f0f0f0;
  --light-grey: #ebebeb;
  --grey: #dcdcdc;

  --purple: #af4fff;
  --yellow: #ffc700;
  --light-yellow: #ffe17f;

  --green: #08af00;
  --orange: #fd912e;
  --red: #ff3d3d;

  --transparent-black10: rgba(0, 0, 0, 0.1);
  --transparent-black20: rgba(0, 0, 0, 0.2);
  --transparent-black30: rgba(0, 0, 0, 0.3);
  --transparent-black50: rgba(0, 0, 0, 0.5);
  --transparent-black60: rgba(0, 0, 0, 0.6);
  --transparent-white30: rgba(255, 255, 255, 0.3);
  --transparent-dark30: rgb(68, 68, 68, 0.3);
  --transparent-grey50: rgb(220, 220, 220, 0.5);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  /*outline: 5px solid red;
  outline-offset: -5px;*/
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Rubik, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  min-width: 1190px;
  margin: 0 auto;
  padding-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: var(--black);
  background-color: var(--light-yellow);
  min-width: 1160px;
  margin: 0 auto;
  min-height: 186px;
}

.header-logo {
  display: block;
  position: relative;
  left: 61px;
  bottom: 23px;
  width: 145px;
  height: 36px;
}

.main-nav-top {
  margin: 3px 58px 0 60px;
  display: flex;
  justify-content: space-between;
}

.header-search {
  display: flex;
  color: inherit;
  margin-left: -16px;
  width: 516px;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px 16px;
  /* border: 2px solid var(--black); */
  border-radius: 20px;
}

.header-search:focus-within {
  box-shadow: inset 0 0 0 2px var(--purple);
}

.header-search-input {
  position: relative;
  flex-shrink: 0;
  width: 361px;
  padding-left: 52px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 20px;

}

.header-search-input:not(:placeholder-shown) {
  border: 2px solid var(--black);
}

.header-search-input::placeholder {
  color: var(--transparent-black30);
}

.header-search-input:hover::placeholder {
  color: var(--transparent-black60);
}

.header-search-input:active::placeholder {
  color: var(--black);
}

.header-search-button {
  position: relative;
  left: -2px;
  flex-shrink: 0;
  background: transparent;
  border: 2px solid var(--black);
  border-radius: 0px 20px 20px 0px;
  width: 157px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
}

.header-search-input:not(:placeholder-shown)+.header-search-button {
  opacity: 1;
  pointer-events: initial;
  cursor: pointer;
}

.header-search-button:hover {
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
  /* transition: all 0.3s linear; */
}

.header-search-button:focus {
  border: 2px solid var(--purple);
  outline: none;
  opacity: 1;
  pointer-events: initial;
}

.header-search-button:active {
  background-color: var(--black);
  color: var(--transparent-white30);
}

.user-list {
  width: 501px;
  margin: 0;
  padding: 0;
  margin-right: -19px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  line-height: 17px;
  align-items: center;
}

.user-list-link {
  height: 20px;
  color: inherit;
  text-decoration: none;
  outline: none;
  margin-left: -38px;
  padding: 7px 21px 9px 5px;
}

.user-list-link:focus {
  box-shadow: 0 0 0 2px var(--purple);
  border-radius: 30px;
}

.user-list-item {
  position: relative;
}

.user-list-item-login {
  position: relative;
  padding-left: 43px;
  height: 19px;
  background-image: url(../img/icons/user.svg);
  background-repeat: no-repeat;
  background-position: 18px;
  background-size: 13px 12px;
}

.user-list-item-cart {
  position: relative;
  padding-left: 43px;
  right: 0px;
  bottom: 1px;
  width: 120px;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 18px;
  background-size: 16px 14px;
}

.user-list-item-compare {
  position: relative;
  padding-left: 43px;
  left: 5px;
  width: 112px;
  height: 19px;
  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 23px;
  background-size: 10px 12px;
}

.user-list-link-out {
  opacity: 0.3;
  position: absolute;
  bottom: -4px;
  left: -18px;
}

.numbers {
  position: absolute;
  top: 7px;
  right: 107px;
  min-width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background: var(--white);
  border-radius: 16px;
  padding: 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation {
  margin: 30px 40px 0 44px;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation-list:nth-child(3) {
  margin-right: 59px;
}

.user-list-item:hover {
  opacity: 0.6;
}


.user-list-item:active {
  opacity: 0.3;
}

.user-list-link:focus {
  box-shadow: 0 0 0 2px var(--purple);
  border-radius: 30px;
}

.main-navigation-list-link:hover {
  text-decoration: underline var(--black);
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.main-navigation-list-link:focus {
  box-shadow: 0 0 0 2px var(--purple);
  border-radius: 50px;
}


.main-navigation-list-link:active {
  opacity: 0.3;
}

/* .main-navigation-list-plus::after {
  content: "";
  background-image: url(../img/icons/plus.svg);
}
 */
.main-navigation-inside-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  margin-left: 20px;
  padding: 1px 14px 3px 13px;
}

.main-navigation-inside-list:hover {
  color: var(--transparent-black60);
}

.main-navigation-inside-link:focus {
  box-shadow: 0 0 0 2px var(--purple);
  border-radius: 20px;
}

.main-navigation-inside-list:active {
  color: var(--transparent-black30);
}

.page-container {
  max-width: 1160px;
  margin: 0 auto;
}

.page-content-header {
  padding-top: 37px;
  padding-bottom: 16px;
  padding-left: 61px;
}

.slider {
  position: relative;
  display: grid;
  grid-template-areas: "slide";
  color: var(--dark);
  counter-reset: section;
  margin-top: -36px;
}

.slider-controls {
  position: absolute;
  z-index: 2;
  top: 280px;
  padding: 0px 9px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider-button {
  display: block;
  outline: none;
  border: none;
  width: 40px;
  height: 80px;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  background-image: url(../img/icons/left-tall-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.forward {
  transform: rotate(180deg);
  margin-left: 462px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  box-shadow: inset 0 0 0 2px var(--purple);
  border-radius: 6px;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-pagination {
  position: absolute;
  z-index: 2;
  top: 350px;
  right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-item {
  margin: 0 11px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 0 2px var(--black);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}


.slider-pagination-button:hover:not(.slider-pagination-button-current) {
  opacity: 0.6;
}

.slider-pagination-button:focus:not(.slider-pagination-button-current) {
  box-shadow: inset 0 0 0 2px var(--purple);
  border-radius: 50%;
}

.slider-pagination-button:active:not(.slider-pagination-button-current) {
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: var(--black);
  cursor: default;
}

.slide {
  grid-area: slide;
  opacity: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(180deg, #FFE17F 150px, white 150px);
}

.slide-active {
  opacity: 1;
  z-index: 1;
}

.slide::before {
  position: absolute;
  right: 48px;
  top: 82px;
  counter-increment: section;
  content: "0"counter(section) "";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: var(--white);
}

.slider-img {
  width: 560px;
}

.slider-info {
  position: relative;
  width: 560px;
}

.slider-subtitle {
  margin: 28px 0 40px;
}

.slider-advantage {
  font-size: 36px;
  line-height: 30px;
  color: var(--black);
  padding-bottom: 11px;
}

.slider-description {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: var(--dark);
}

.slider-link {
  text-decoration: none;
}


.slider-list {
  margin: 0;
  padding: 0;
  padding-top: 59px;
  width: 320px;
  display: grid;
  grid-template-columns: repeat(3, 160px);
}

.slider-list-item {
  display: flex;
  flex-direction: column;
}

.main-navigation-item {
  max-width: 1160px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation-list-link {
  font-family: Railway, Impact, sans-serif;
  font-size: 18px;
  padding: 12px 0;
  padding-left: 16px;
  padding-right: 15px;
  padding-bottom: 13px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: none;
}

.main-navigation-inside {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-navigation-inside-list {
  list-style: none;
}

.main-navigation-list:nth-child(1) {
  width: 540px;
}

.main-navigation-inside-catalog {
  position: relative;
}

.main-navigation-inside-wrap {
  position: absolute;
  background-color: var(--light-yellow);
  width: 1160px;
  left: -44px;
  display: none;
}

.popular-goods {
  margin-top: 61px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.popular-goods-item {
  list-style: none;
}

.popular-goods-item-wrap {
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */

  display: grid;
  grid-template-columns: 160px;
  grid-template-rows: 160px 33px min-content;
  list-style: none;
  width: 160px;
}

.popular-goods-item-link {
  font-family: Railway, Impact, sans-serif;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  outline: none;
}

.popular-goods-item-text {
  grid-row: 3/4;
  grid-column: 1/2;
  font-family: Railway, Impact, sans-serif;
  font-size: 18px;
  margin: 0;
  color: var(--black);
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  outline: none;
}

.popular-goods-item-img {
  position: relative;
  z-index: 1;
  grid-row: 1 / 2;
  margin: 0;
  width: 160px;
  height: 160px;
  background-color: var(--light-yellow);
  background-repeat: no-repeat;

}


.virtual::before {
  position: absolute;
  content: "";
  width: 97px;
  height: 55px;
  top: 33%;
  right: 19%;
  background-image: url(../img/catalog-icons/vr.svg);
}

.selfi::before {
  position: absolute;
  content: "";
  width: 86px;
  height: 117px;
  top: 27%;
  right: 23%;
  background-image: url(../img/catalog-icons/selfi.svg);
}

.action::before {
  position: absolute;
  content: "";
  width: 71px;
  height: 87px;
  top: 24%;
  right: 25%;
  background-image: url(../img/catalog-icons/action.svg);
}

.fitness-watch::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 65px;
  top: 31%;
  right: 16%;
  background-image: url(../img/catalog-icons/fitness-watch.svg);
}

.smart-watch::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 98px;
  top: 19%;
  left: 33%;
  background-image: url(../img/catalog-icons/smart-watch.svg);
}

.quadcopter::before {
  position: absolute;
  content: "";
  width: 131px;
  height: 69px;
  top: 31%;
  right: 9%;
  background-image: url(../img/catalog-icons/quadcopter.svg);
}

.popular-goods-item-wrap:hover .popular-goods-item-img {
  background-color: var(--yellow);
}

.popular-goods-item-link:focus-within .popular-goods-item-img {
  box-shadow: 0 0 0 5px var(--purple);
}

.popular-goods-item-link:focus-within .popular-goods-item-text {
  color: var(--purple);
}

.popular-goods-item-wrap:active .virtual::before,
.popular-goods-item-wrap:active .selfi::before,
.popular-goods-item-wrap:active .action::before,
.popular-goods-item-wrap:active .fitness-watch::before,
.popular-goods-item-wrap:active .smart-watch::before,
.popular-goods-item-wrap:active .quadcopter::before {
  opacity: 0.3;
}

.popular-goods-item-link:active .popular-goods-item-text {
  color: var(--transparent-black30);
}


.services-slider {
  display: flex;
}


.services-slider-subtitle {
  position: relative;
  margin-top: 33px;
  margin-bottom: 120px;
  color: var(--dark);
  font-size: 18px;
  line-height: 30px;
}

.delivery-icon::before {
  position: absolute;
  bottom: -5px;
  left: 559px;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery/delivery-1.svg);
  background-repeat: no-repeat;
}

.warranty-icon::before {
  position: absolute;
  bottom: -12px;
  left: 543px;
  content: "";
  width: 171px;
  height: 195px;
  background-image: url(../img/delivery/warranty-1.svg);
  background-repeat: no-repeat;
}

.credit-icon::before {
  position: absolute;
  bottom: -5px;
  left: 534px;
  content: "";
  width: 156px;
  height: 188px;
  background-image: url(../img/delivery/credit-1.svg);
  background-repeat: no-repeat;
}

.title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: Railway, Impact, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--black);
}

.slider .title {
  margin-top: 122px;
}

.services-slider-right {
  display: grid;
  grid-template-areas: "services-slider-wrap";
}

.services-slider-wrap {
  grid-area: services-slider-wrap;
  width: 501px;
  margin-left: 227px;
  opacity: 0;
  z-index: 0;
}

.services-slider-wrap-active {
  opacity: 1;
  z-index: 1;
}

.services-slider-wrap .title {
  margin-top: 74px;
}

.services-btn-wrap {
  position: relative;
  font-family: Railway, Impact, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-left: -8px;
  margin-top: 59px;
}

.services-btn-wrap::before {
  position: absolute;
  content: "";
  left: 285px;
  bottom: 45px;
  width: 7px;
  height: 319px;
  background-color: var(--black);
}

.services-btn {
  margin-top: 23px;
  background: transparent;
}

/* .services-btn-active {
  position: relative;
  color: var(--light-yellow);

}

.services-btn-active::after {
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: -1;
  content: "";
  width: 280px;
  height: 40px;
  background-color: var(--black);
}
 */
.delivery-wrapper {
  display: flex;
  position: relative;
  width: 1160px;
  height: 100px;
  margin-top: 100px;
  justify-content: center;
  background-color: var(--light);
  align-items: center;
  letter-spacing: 0.2em;
  outline: none;
  border: none;
  cursor: pointer;
}

.delivery-wrapper-car {
  position: absolute;
  display: block;
  width: 125px;
  left: 0;
  height: 100px;
  background-color: var(--light-yellow);
}

.svg-car {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  fill: var(--black);
}

.delivery-wrapper:hover {
  background-color: var(--light-grey);
}

.delivery-wrapper:hover .delivery-wrapper-car {
  background-color: var(--yellow);
}

.delivery-wrapper:focus {
  box-shadow: 0 0 0 5px var(--purple);
}

.delivery-wrapper:active .delivery-link {
  color: var(--transparent-black30);
}

.delivery-wrapper:active .svg-car {
  opacity: 0.3;
}

.delivery-link {
  font-family: Railway, Impact, sans-serif;
  color: var(--black);
  font-size: 20px;
  line-height: 23px;
  padding-left: 5px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-info {
  position: absolute;
  top: 30px;
  right: 33px;
  width: 40px;
  height: 40px;
  background: var(--grey);
  border-radius: 50px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.delivery-wrapper:hover .delivery-info {
  opacity: 1;
}

.info-wrap {
  margin-top: 147px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  position: relative;
  width: 500px;
  color: var(--dark);
}

.about-us-subtitle {
  margin: 0;
}

.about-us p:first-of-type {
  padding-top: 44px;
}

.about-us p:last-of-type {
  padding-top: 30px;
  padding-bottom: 76px;
}

.about-us-list {
  margin: 0;
  padding-left: 35px;
  margin-bottom: 42px;
}

.about-us-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  padding-bottom: 20px;
}

.about-us-item::marker {
  color: var(--yellow);
}

.contacts {
  position: relative;
  width: 560px;
  color: var(--dark);
}

.contacts-subtitle {
  margin: 0;
  padding-top: 45px;
}

.contacts-title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--dark);
}

.contacts-adress {
  font-style: normal;
}

.contacts-number {
  color: var(--dark);
}

.contacts-work {
  margin: 0;
}

.contacts p:last-of-type {
  margin-bottom: 58px;
}

.button {
  position: relative;
  z-index: 1;
  display: block;
  font-family: Railway, Impact, sans-serif;
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
  width: 260px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 0;
}

.button::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 8px;
  z-index: -1;
  top: 50%;
  left: -2px;
  margin-top: -5px;
  background-color: var(--light-yellow);
}

.button:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: top .7s, height .7s, margin .7s;
}

/* .button:focus::before:not(:active) {
  background-color: var(--purple);
}
 */

.button:focus::before {
  background-color: var(--purple);
}

.button:focus::before:not(:focus-visible) {
  background-color: transparent;
}

.button:focus-visible::before {
  background-color: var(--purple);
}

.button:active {
  color: var(--transparent-black30);
}

.black-layer::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: -50px;
  background-image: url(../img/black-divider.svg);
}

.delivery-slider {
  min-height: 391px;
  margin-top: 78px;
  margin-bottom: -10px;
  color: var(--dark);
  background-image: linear-gradient(180deg, var(--white) 100px, var(--light) 100px);
}

.mail {
  margin-top: 78px;
  background-color: var(--light-grey);
}

.mail-inner {
  padding: 0;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.mail-wrapper {
  display: flex;
}

.mail-wrapper-top {
  width: 607px;
}

.mail-wrapper-top h3 {
  padding-top: 73px;
  padding-bottom: 59px;
}

.mail-wrapper-right {
  width: 566px;
}

.mail-subscribe {
  display: flex;
  justify-content: space-between;
  padding-bottom: 125px;
}

.mail-wrapper-text {
  margin: 0;
  padding-top: 83px;
}

.mail-subtitle {
  padding-left: 35px;
  margin-top: 13px;
  width: 164px;
  background-image: url("../img/icons/free.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 14px 14px;
}

.mail-form-input {
  position: relative;
  width: 600px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid var(--transparent-black10);
}

.mail-form-input:not(:placeholder-shown):not(:focus):invalid {
  border-bottom: 3px solid var(--red);
}

.mail-form-input::placeholder {
  color: var(--dark);
  opacity: 0.5;
}

.mail-form-input:hover::placeholder {
  color: var(--dark);
  opacity: 0.7;
}

.mail-form-input:hover {
  border-bottom: 3px solid var(--transparent-black20);
}

.mail-form-input:focus {
  background-color: var(--grey);
  border-bottom: 3px solid var(--transparent-black10);
}

.mail-form-input:active {
  color: var(--dark);
  opacity: 1;
  border-bottom: 3px solid var(--black);
}

.mail-button {
  padding: 0;
  margin-left: -2px;
  width: 260px;
  height: 55px;
  color: var(--black);
  font-family: Railway, Impact, sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;
  border: 3px solid var(--transparent-black10);
}

.footer-button {
  text-transform: uppercase;
  font-family: Railway, Impact, sans-serif;
  text-decoration: none;
}

.mail-button:hover {
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
}

.mail-button:focus {
  outline: none;
  border: 3px solid var(--purple);
}

.mail-button:active {
  color: var(--transparent-white30);
  background-color: var(--black);
  cursor: pointer;
}

/*Footer*/
.page-footer {
  background-color: var(--dark);
}

.page-footer-inner {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  margin: 62px 0 20px -2px;

}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-address {
  width: 239px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.footer-info-nav {
  display: grid;
  grid-template-columns: repeat(3, 148px);
  justify-content: center;
  align-items: center;
  gap: 12px;
  letter-spacing: 0.2em;
}

.footer-navigation {
  position: relative;
  display: block;
  color: var(--white);
  margin-left: -12px;
  line-height: 19px;
  outline: none;
  /* 
  padding: 9px 15px 9px 16px; */
  padding: 14px 20px 15px 20px;
  bottom: 3px;
}

.footer-navigation:nth-child(3) {
  margin-left: -22px;
}


.footer-phone {
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  outline: none;
  margin-right: -11px;
  padding: 1px 11px 5px;
  margin-left: 34px;
  color: var(--white);
  text-align: right;
}

.footer-phone:hover {
  color: var(--yellow);
}

.footer-navigation:hover {
  color: var(--yellow);
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.footer-navigation:focus,
.footer-phone:focus {
  box-shadow: 0 0 0 2px var(--purple);
  border-radius: 30px;
}

.footer-navigation:focus:not(:focus-visible),
.footer-phone:focus:not(:focus-visible) {
  box-shadow: none;
}

.footer-navigation:focus-visible,
.footer-phone:focus-visible {
  box-shadow: 0 0 0 2px var(--purple);
  border-radius: 30px;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-navigation:active {
  opacity: 0.3;
}

.footer-info-social {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-social-list {
  position: relative;
  margin: 0;
  padding: 0;
  display: grid;
  bottom: 8px;
  grid-template-columns: repeat(3, 40px);
  gap: 14px;
}

.yellow-layer::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  right: 574px;
  bottom: 16px;
  background-image: url(../img/yellow-divider.svg);
}

.footer-social-item {
  list-style: none;
}

.social-svg {
  display: block;
}

.circle-background {
  fill: var(--transparent-white30);
}

.path-icon {
  fill: var(--dark);
}

.footer-social-item-link {
  display: block;
  outline: none;
}

.footer-social-item-link:hover .circle-background {
  fill: var(--yellow);
}

.footer-social-item-link:focus {
  box-shadow: 0 0 0 5px var(--purple);
  border-radius: 50%;
}

.footer-social-item-link:focus .path-icon {
  fill: var(--white);
}

.footer-social-item-link:focus .circle-background {
  fill: transparent;
}

.footer-social-item-link:active .path-icon {
  fill: var(--transparent-dark30);
}

.footer-social-item-link:active .circle-background {
  fill: var(--yellow);
}

.link-academy {
  display: block;
  padding: 7px 8px 0px;
  margin-left: 384px;
  margin-top: 41px;
  margin-bottom: 55px;
  margin-right: -9px;
  outline: none;
}

.link-academy-svg {
  fill: var(--yellow);
}

.link-academy-svg:hover {
  fill: var(--white);
}

.link-academy:focus {
  box-shadow: 0 0 0 2px var(--purple);
  border-radius: 10px;
}

.link-academy-svg:active {
  fill: var(--transparent-white30);
}

.main-catalog {
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
}

.breadcrumbs-list {
  padding: 0;
  margin-left: -14px;
  display: flex;
  list-style: none;
  padding-top: 2px;
}

.background {
  height: 100%;
  background: linear-gradient(to right, var(--grey) 28%, var(--light-grey) 28%),
    linear-gradient(to right, var(--light-grey) 51%, var(--white) 51%);
  background-size: 131% 70px, 72% 100%;
  background-position-y: 13px;
  background-repeat: no-repeat;
}

.catalog {
  display: flex;

}

.breadcrumbs-list-item {
  position: relative;
  margin-right: 11px;
}

.breadcrumbs-list-link {
  display: block;
  padding: 5px 12px;
  text-decoration: none;
  outline: none;
  color: var(--transparent-black60);
}

.breadcrumbs-list-item::before {
  position: absolute;
  z-index: 5;
  content: "";
  top: 12px;
  left: -7px;
  width: 4px;
  height: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4px 7px;
  background-image: url(../img/icons/arrow.svg);
  opacity: 0.3;
}

.breadcrumbs-list-item:first-child::before {
  display: none;
}

.breadcrumbs-list-link:hover {
  color: var(--black);
}



.breadcrumbs-list-link:focus {
  box-shadow: 0 0 0 5px var(--purple);
}

.breadcrumbs-list-link:active {
  color: var(--transparent-black30);
}

.filter-title {
  font-family: Railway, Impact, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-card {
  position: relative;
}

.product-card-new {
  position: absolute;
  top: 29px;
  right: 27px;
  display: none;
  width: 60px;
  height: 60px;
  font-family: Railway, Impact, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: var(--transparent-black60);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  box-shadow: inset 0 0 0 2px var(--transparent-black60);
  border-radius: 50%;
}

.product-card-new-active {
  display: block;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.filter {
  width: 207px;
  margin-top: 25px;
  margin-left: 61px;
}

.catalog-right-column {
  padding: 0;
  width: 760px;
  padding-bottom: 62px;
  margin-top: 17px;
  margin-left: 132px;
}

.filter-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.filter-checkbox-item,
.filter-radio-item {
  list-style: none;
}

.sorting {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.sorting-title {
  font-family: Railway, Impact, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting-details {
  position: relative;
}

.sorting-details-summary {
  position: relative;
  display: flex;
  outline: none;
  padding: 4px 41px 7px 13px;
}

.sorting-details-summary::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 191px;
  width: 11px;
  height: 6px;
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 11px 6px;
}

.sorting-details-summary:hover {
  opacity: 0.6;
}

.sorting-details-summary:focus {
  box-shadow: 0 0 0 5px var(--purple);
}

.sorting-details-summary:active {
  opacity: 0.3;
}

.sorting-breadcrumbs-list {
  display: flex;
  list-style: none;
  margin-left: 226px;
  margin-right: -10px;
}

.sorting-breadcrumbs-item-link {
  display: block;
  padding: 6px 10px;
  outline: none;
}

.sorting-up-path {
  fill: var(--transparent-black20);
}

.sorting-down-path {
  fill: var(--black);
}

.sorting-up-path:hover,
.sorting-down-path:hover {
  fill: var(--transparent-black50);
}

.sorting-breadcrumbs-item-link:focus,
.sorting-breadcrumbs-item-link:focus {
  box-shadow: 0 0 0 5px var(--purple);
}

.product {
  /*  position: relative; */
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 46px 40px;

}

.product-card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.product-card-link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--black);
  outline: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--dark);
}

.product-card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  display: none;
  padding-top: 170px;
  padding-left: 92px;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
}

.product-button {
  position: relative;
  z-index: 1;
  display: block;
  font-family: Railway, Impact, sans-serif;
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
  width: 180px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 0;
}

.product-button::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 8px;
  z-index: -1;
  top: 50%;
  left: -2px;
  margin-top: -5px;
  background-color: var(--yellow);
}

.product-button:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: top .7s, height .7s, margin .7s;
}

.submit-button {
  width: 200px;
}

.pic {
  display: block;
  /* box-shadow:  0 0 0 5px var(--purple); */
}

.product-card:hover .product-card-hover {
  display: block;
}

.product-card-link:focus-within .pic {
  outline: none;
  border: none;
  outline: 5px solid var(--purple);
  outline-offset: -5px;
}

.product-card-link:focus-within .product-card-title,
.product-card-link:focus-within .product-card-price {
  outline: none;
  color: var(--purple);
}

/* .product-card:focus .product-card-description{
  color: var(--purple);
} */

.load-more {
  display: flex;
  justify-content: center;
  font-family: Railway, Impact, sans-serif;
  font-size: 16px;
  line-height: 19px;
  width: 760px;
  height: 55px;
  margin-top: 71px;
  margin-bottom: 49px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  border: 3px solid var(--transparent-black10);
  letter-spacing: 0.2em;
  outline: none;
}

.load-more:hover {
  border: 3px solid var(--black);
}

.load-more:focus {
  border: transparent;
  box-shadow: inset 0 0 0 5px var(--purple);
}

.load-more:active {
  opacity: 0.3;
}

.pagination {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  height: 70px;
  letter-spacing: 0.2em;
  background-color: var(--light-grey);
}

.pagination-item {
  list-style: none;
}

.pagination-item-link {
  display: block;
  text-decoration: none;
  outline: none;
  color: var(--black);

  /*
  width: 30px;
  height: 30px;*/
}

.pagination-item:nth-child(1),
.pagination-item:nth-child(7) {
  font-family: Railway, Impact, sans-serif;
  text-transform: uppercase;
  opacity: 1;
}

/* .pagination-item {
  padding: 0 15px;
} */

.pagination-item-first {
  margin-right: auto;
  padding: 0;
}

.pagination-item-last {
  margin-left: auto;
  padding: 0;
}

.pagination-item-first-link {
  padding: 25px 26px 25px 29px;
}

.pagination-item-last-link {
  padding: 25px 29px 25px 14px;
}

.pagination-item-link-numbers {
  padding: 8px 14px 11px 14px;
  color: var(--transparent-dark30);
}

.pagination-item-link-numbers:hover {
  color: var(--dark);
}

.pagination-item-link-numbers:focus {
  box-shadow: inset 0 0 0 5px var(--purple);
}

.pagination-item-link-numbers:active {
  color: var(--dark);
  opacity: 0.1;
}

.pagination-item-first-link:hover,
.pagination-item-last-link:hover {
  background-color: var(--grey);
}

.pagination-item-first-link:focus,
.pagination-item-last-link:focus {
  background-color: var(--light);
  box-shadow: inset 0 0 0 5px var(--purple);
}


.pagination-item-first-link:active,
.pagination-item-last-link:active {
  background-color: var(--grey);
  color: var(--transparent-black30);
}

.services-btn-active {
  position: relative;
  color: var(--light-yellow);

}

.services-btn-active::after {
  position: absolute;
  top: 1px;
  left: 8px;
  z-index: -1;
  content: "";
  width: 280px;
  height: 40px;
  background-color: var(--black);
}

.modal-delivery {
  display: block;
  padding: 72px 80px 88px 80px;
  width: 920px;
  height: 580px;
  border: 10px solid #000000;
}
